
*.ReSharper.user
*.class
*.csproj.user
*.DotSettings.user
*.docstates
*.exe.stackdump
*.hi
*.ncb
*.o
*.psess
*.pyc
*.sln.cache
*.suo
*.vcproj.*.user
*.vsp
*.vspscc
*.vssscc
*.InstallLog
*.gpState
*.orig
*.vsmdi
*.pubxml.user

.vs/
bin/
obj/
Debug/
Release/
TestResults/
packages

Thumbs.db
UpgradeLog.XML
_ReSharper*
_UpgradeReport_Files
build.proj

